.login{
    width: 100%;
    height: 80vh;
    background-color: blanchedalmond;
    padding-top: 100px;
}
.login-container{
    width: 580px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
}
.login-container h1{
    margin: 20px 0px;
}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.login-fields input{
    height: 720px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid gray;
    outline: none;
    color: white;
    font-size: 18px;
}
.login-container button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: palevioletred;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-login{
    margin-top: 20px;
    color: darkgray;
    font-size: 18px;
    font-weight: 500;
}
.login-login span{
    color:palevioletred;
    font-weight: 600;
    cursor: pointer;
}